---
import Base from "@/layouts/Base.astro";
import Cta from "@/layouts/components/Cta.astro";
import type { TPostType, TPlan } from "@/types";
import config from "@/config/config.json";
import { Image } from "astro:assets";
import { getEntryBySlug } from "astro:content";

const entry = (await getEntryBySlug("pricing", "index")) as TPostType;
const { title, description, plans, call_to_action } = entry.data;
---

<Base title={title} description={description}>
  <section class="section pb-0">
    <div class="container">
      <h1 class="text-center font-normal">{title}</h1>

      <!--  -->
      <div class="section row -mt-10 justify-center md:mt-0">


            <div
              class="flex-row"
            >

              <div class="card bg-[#67a869]">
                <h1 class="text-center text-3xl">01/02/2025</h1>

                <div class="grid grid-rows-3 grid-flow-col gap-4  ">
                  {/* TODO: Agregar logo */}


                   <!-- CARD LOCAL -->
                  <div class="flex text-center row justify-center items-center row-start-1 row-end-4">
                    <h4>CD ALbatros</h4>

                  <Image
                    src={config.site.logo}
                    width={Number(config.site.logo_width)}
                    height={Number(config.site.logo_height)}
                    alt="albatros"

                  />
                  <h5 class="mt-2">Local</h5>
                </div>

                 <!-- CARD VS -->
                <div class="flex row justify-center items-center col-recommended-vs row-start-1 row-end-4 ">
                  <!-- TODO: -->
                  <Image
                  src={config.site.logoVS}
                  width={"500"}
                  height={"500"}
                  alt="albatros"

                />
              </div>
              <!-- CARD VISITA -->
              <div class="flex row justify-center text-center items-center row-start-1 row-end-4 ">
                <h4>CD Equipo1</h4>

                <Image
                    src={config.site.logoU}
                    width={Number(config.site.logo_width)}
                    height={Number(config.site.logo_height)}
                    alt="albatros"

                  />
                  <h5 class="mt-2 ">Visita</h5>
                </div>
                </div>
              </div>

            </div>



      <!--  -->

      <div class="section row -mt-10 justify-center md:mt-0">


        <div
          class="flex-row"
        >

          <div class="card bg-[#67a869]">
            <h1 class="text-center text-3xl">01/02/2025</h1>

            <div class="grid grid-rows-3 grid-flow-col gap-4  ">
              {/* TODO: Agregar logo */}


               <!-- CARD LOCAL -->
              <div class="flex text-center row justify-center items-center row-start-1 row-end-4">
                <h4>CD ALbatros</h4>

              <Image
                src={config.site.logo}
                width={Number(config.site.logo_width)}
                height={Number(config.site.logo_height)}
                alt="albatros"

              />
              <h5 class="mt-2">Local</h5>
            </div>

             <!-- CARD VS -->
            <div class="flex row justify-center items-center col-recommended-vs row-start-1 row-end-4 ">

              <Image
              src={config.site.logoVS}
              width={Number(config.site.logo_width)}
              height={Number(config.site.logo_height)}
              alt="albatros"

            />
          </div>
          <!-- CARD VISITA -->
          <div class="flex row justify-center text-center items-center row-start-1 row-end-4 ">
            <h4>CD Equipo1</h4>

            <Image
                src={config.site.logoU}
                width={Number(config.site.logo_width)}
                height={Number(config.site.logo_height)}
                alt="albatros"

              />
              <h5 class="mt-2 ">Visita</h5>
            </div>
            </div>
          </div>

        </div>
<!--  -->

<div class="section row -mt-10 justify-center md:mt-0">


  <div
    class="flex-row"
  >

    <div class="card bg-[#67a869]">
      <h1 class="text-center text-3xl">01/02/2025</h1>

      <div class="grid grid-rows-3 grid-flow-col gap-4  ">
        {/* TODO: Agregar logo */}


         <!-- CARD LOCAL -->
        <div class="flex text-center row justify-center items-center row-start-1 row-end-4">
          <h4>CD ALbatros</h4>

        <Image
          src={config.site.logo}
          width={Number(config.site.logo_width)}
          height={Number(config.site.logo_height)}
          alt="albatros"

        />
        <h5 class="mt-2">Local</h5>
      </div>

       <!-- CARD VS -->
      <div class="flex row justify-center items-center col-recommended-vs row-start-1 row-end-4 ">

        <Image
        src={config.site.logoVS}
        width={Number(config.site.logo_width)}
        height={Number(config.site.logo_height)}
        alt="albatros"

      />
    </div>
    <!-- CARD VISITA -->
    <div class="flex row justify-center text-center items-center row-start-1 row-end-4 ">
      <h4>CD Equipo1</h4>

      <Image
          src={config.site.logoU}
          width={Number(config.site.logo_width)}
          height={Number(config.site.logo_height)}
          alt="albatros"

        />
        <h5 class="mt-2 ">Visita</h5>
      </div>
      </div>
    </div>

  </div>






    </div>
  </section>
  <!-- <Cta cta={call_to_action} /> -->
</Base>
